@import "tailwindcss";

:root {
  background-image: url(../src/assets/clean.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.primary-color {
  @apply bg-[#914896]
}
.primary-dim-color{
  @apply bg-[#f9e5fa]
}

.primary-color-hover {
  @apply hover:bg-[#6a316e] duration-200
}

.primary-border {
  @apply border-[#914896]
}

.primary-text {
  @apply text-[#914896]
}

.secondery-color {
  @apply bg-white
}

.secondery-color-2 {
  @apply bg-gray-50
}

.text-light {
  @apply text-white
}

.text-dim-light {
  @apply text-gray-300
}

.text-dark {
  @apply text-gray-800
}


.text-light-dark {
  @apply text-gray-600
}